body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.card{
    background: rgba(89, 169, 255, 0.877);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0006;
    border-radius: 10px;
}

.card_red{
    background-color: rgb(255, 80, 80);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0006;
    border-radius: 10px;
}

.card_green{
    background-color: rgb(80, 255, 176);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0006;
    border-radius: 10px;
}

.card_title{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

.card_subtitle{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5;
    margin: 0;
}

.card_content{
    font-size: 9px;
    padding: 10px;
    text-align: justify;
    margin-bottom: 0;
}

.card_img{
    width: 200px;
    border-radius: 50%;
}