body{
    padding: 20px;
}

h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}

p::first-line{
    color: red;
}

p::selection{
    background-color: red;
    color: aliceblue;
}