body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #f809;    
    color: #fff;
}

.header{
    height: 100vh;
    box-sizing: border-box;
    background-image: url("source/poro.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    background-size: cover;
}

h1{
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

.header__overlay{
    min-height: 100vh;
    width: 100vw;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}

.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p{
    text-wrap: pretty;
}

.header__img{
    min-width: 200px;
    max-width: 40%;
    border-radius: 50%;
    border: 10px solid white;
}

/*Navbar section*/

.nav{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
    text-align: center;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #0006;
}

.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 ;
}

.nav__item{
    list-style: none;
}

.nav__ul-container{
    flex-grow: 1;
}

.nav__logo-container{
    flex-grow: 4;
}

.nav__link{
    color: #f80;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 0;
    margin: 10px;
    transition: background-color 0.3s, border-radius  0.24s,
    outline 0.3s, outline-offset 0.3s;
}

.nav__link:hover{
    background-color: #f803;
    border-radius: 20px;
    outline: 2px solid #f806;
}

.link--login{
    background-color: #f80;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 10px;
    
}

.link--login:hover{
    background-color: #f809;
    outline: navajowhite;
    outline-offset: -7px;
}

.nav__logo{
    width: 50px;
}

main{
    max-width: 800px;
    margin: auto;
    font-size: 25px;
    text-wrap: pretty;
}