body{
    margin: 0;
    background: linear-gradient(to top, rgb(240, 239, 158), rgb(255, 255, 255) );
    font-family: sans-serif;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;ß
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 35px #0006;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form_input{
    padding: 6px 20px
}

input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: black solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: transparent;
    color: black;
}

/*Text area se puede redimensionar, pero esto se controla con resize que puede ser: 
horizontal, vertical y none
twext area tambén tiene su propia tipografia, por lo que se tiene que especificar individualmente
*/
textarea{
    min-width: 100px;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;
}

label{
    font-size: 0.9em;
    line-height: 2;
}

.checkbox{
    width: auto;
}

fieldset{
    margin: 10px 0;
    border: 1px solid #0006;
    border-radius: 5px;
    padding: 8px 6px 20px 6px;
    margin: 20px;
}

legend{
    padding: 0 6px;
    color: #0009;
}

a{
    color: #69f;
    text-decoration: none;
}